.btn {
  @apply inline-block font-bold h-8 leading-8 px-4 rounded tracking-wider text-sm text-white uppercase;
  @apply transition-colors duration-100;
}

.btn-large {
  @apply px-5 h-12 text-base;
  line-height: theme('height.12');
}

.btn,
.btn-primary,
.btn-blue {
  @apply bg-primary-500;
  &:hover { @apply bg-primary-400; }
  &:focus { @apply bg-primary-600; }
}

.btn-secondary,
.btn-success,
.btn-green {
  @apply bg-secondary-500;
  &:hover { @apply bg-secondary-400; }
  &:focus { @apply bg-secondary-600; }
}

.btn-tertiary,
.btn-pink {
  @apply bg-tertiary-500;
  &:hover { @apply bg-tertiary-400; }
  &:focus { @apply bg-tertiary-600; }
}

.btn-transparent {
  @apply bg-transparent;
  &:hover, &:focus{
    @apply bg-transparent;
  }
}

button:disabled,
.btn-disabled {
  @apply bg-grey-300 cursor-not-allowed;

  &:hover { @apply bg-grey-300; }
}
