#hexagon-circle { 
    position: relative;
margin: 1em auto;
/* width: 10em;
height: 17.32em; */
width: 2.5em;
height: 4.33em;
border-radius: 1em/.5em;
background: green;
transition: opacity .5s;
cursor: pointer;
border-color: red transparent red transparent;  /*top right bottom left*/
border-width: 1px;
} 

#hexagon-circle:before { 
    position: absolute;
width: inherit;
height: inherit;
border-radius: inherit;
background: inherit;
content: '';
-webkit-transform: rotate(60deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(60deg);  /* IE 9 */
          transform: rotate(60deg);/* Firefox 16+, IE 10+, Opera */
border-color: inherit;  
border-width: inherit;        
        } 

#hexagon-circle:after { 
position: absolute;
width: inherit;
height: inherit;
border-radius: inherit;
background: inherit;
content: '';
-webkit-transform: rotate(-60deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(-60deg);  /* IE 9 */
          transform: rotate(-60deg);/* Firefox 16+, IE 10+, Opera */
border-color: inherit;
border-width: inherit;     
        } 

        