input,
textarea {
  @apply inline-block align-middle rounded border-grey-300 border-2 font-sans text-sm w-full
    h-10 px-3 text-grey-900;

  &:hover { @apply border-grey-400; }
  &:focus { @apply border-primary-500; }

  &.icon-left { @apply pl-10 }
  &.icon-right { @apply pr-10 }
}

textarea {
  height: inherit;
}


.input {
  position: relative;
  @apply text-grey-300 w-full;

  input {
    @apply w-full;
  }


  svg {
    padding: 5%;
    position: absolute;
  }

  .icon2 {
    right: 0;
  }


  &.error input { @apply border-error }
}



.radio {
  input {
    @apply hidden;
  }

  &, span {
    @apply h-4 w-4;
    font-size: 0;
  }

  span {
    @apply inline-flex rounded-circle border-grey-500 border-2 items-center justify-center;
  }

  input:checked + span {
    @apply border-primary-500;

    &:after {
      content: '';
      @apply rounded w-2 h-2 bg-primary-500;
    }
  }
}
