.radio-list {
  @apply select-none;

  & > label {
    @apply relative text-grey-800 flex items-center border-2 border-b-0 border-grey-500 px-3 h-12 cursor-pointer transition-all;

    &:hover { @apply bg-primary-100 }
    &:first-of-type { @apply rounded-t; }
    &:last-of-type { @apply border-b-2 rounded-b; }

    small {
      margin-left: auto;
    }

    &.active {
      @apply bg-primary-100 border-primary-500;
      &:not(:last-of-type):after {
        content: '';
        @apply absolute left-0 w-full bg-primary-500 z-10;
        bottom: -2px;
        height: 2px;
      }
    }
  }

}
