html {
  @apply text-grey-900;
}

h1 {
  @apply text-2xl font-sans font-extrabold text-primary-500;
}

h1.title {
  @apply text-6xl font-title font-extrabold leading-tight;
  @apply text-primary-500;
}

h2 {
  @apply text-xl font-sans font-semibold leading-tight text-primary-500;
}

h2.title {
  @apply text-4xl font-title font-bold leading-tight;
  @apply text-secondary-500;
}

h3 {
  @apply text-2xl font-black font-title leading-tight;
  @apply text-primary-500;
}

h4 {
  @apply text-sm text-grey-700 font-sans font-extrabold uppercase tracking-wider;
}

p {
  @apply font-normal text-base leading-7;
}


.body-2 {
  @apply font-sans text-sm text-grey-700;
}

.body-3 {
  @apply font-sans text-xs text-grey-700;
}
