@define-mixin triangle-base $color,
$position: top {
  display: block;
  width: 100%;
  content: '';
  height: theme('spacing.10');
  background: linear-gradient(to $position right, $color 49%, white 50%);
  z-index: -1;
}

@define-mixin triangle-top $color {

  @mixin triangle-base $color,
  top {
    transform: translateY(-100%);
  }
}

@define-mixin triangle-bottom $color {

  @mixin triangle-base $color,
  bottom {
    transform: translateY(100%);
  }
}
