@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./helpers.css";
@import "./components/buttons";
@import "./components/text";
@import "./components/input";
@import "./components/icon";
@import "./components/form";
@import "./components/error-message";
@import "./components/radio-list.css";

*, *:focus {
  outline: none !important;
}

body, #app {
  background: #e4e0f3;
  min-height: 100vh;
}
