.selectedLayer::before,
.selectedLayer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.selectedLayer::before {
  border-width: 1.5em;
  border-right-color: theme('colors.green.500');
  border-top-color: theme('colors.green.500');
}

.selectedLayer::after {
  border-radius: 0.4em;
  border-width: 1.35em;
  border-right-color: theme('colors.green.500');
  border-top-color: theme('colors.green.500');
}

.checkIcon {
  top: 7px;
  right: 4px;
}

.name {
  @apply uppercase text-sm font-bold text-grey-500;
}
