.rc-slider-dot:first-child:before {
  content: '';
  z-index: -1;
  @apply w-6;
  @apply border-4;
  @apply border-solid;
  @apply border-green-400;
  @apply absolute;
  @apply mt-1;
  @apply right-0;
  @apply rounded;
}

.rc-slider-dot:last-child:after {
  content: '';
  z-index: -1;
  @apply w-6;
  @apply border-4;
  @apply border-solid;
  @apply border-grey-200;
  @apply absolute;
  @apply mt-1;
  @apply rounded;
}
