.modalHeading {
    @apply mb-3 font-semibold;
}

.modalInstruction {
    letter-spacing:0.75px;
    @apply text-sm leading-4 text-grey-800 mb-12;
}

.closeIcon {
    height:24px;
    right:24px;

    @apply absolute text-grey-300 cursor-pointer;
}

.closeIcon:hover { 
    @apply text-primary-400;
}


.joinPathCard {
    min-width:581.15px;
    
    @apply bg-white text-center py-6 px-12 relative rounded;
}

.joinPathGridLayout {
    justify-items: center;
    @apply grid grid-cols-5 items-center;
}

.pathIconContainer {
    width:75px;
    height:75px;

    @apply flex border-2 rounded border-grey-200 m-auto;

    &:hover { @apply border-primary-400 bg-primary-100 cursor-pointer; }
}

.pathIconSelected {
    @apply border-primary-400 bg-primary-100;
}

.pathIconTitle {
    letter-spacing:0.875px;
    @apply font-semibold text-sm leading-4 mt-2 text-grey-600;
}
