input, textarea {
  display: inline-block;
  vertical-align: middle;
  border-radius: var(--border-radius);
  border: var(--input-border);
  height: var(--comp-height);
  padding: var(--comp-padding);
  font-family: var(--ff-main);
  font-size: var(--comp-fs);
  box-shadow: var(--shadow-inset);
  background: var(--input-bg);
  color: var(--input-color);
  transition: all var(--transition-time);

  &:hover {
    border-color: var(--color-grey-30);
  }

  &:focus {
    border-color: var(--color-main);
    box-shadow: var(--glow-main);
  }

  &::placeholder {
    color: var(--color-grey-40)
  }

  &:disabled {
    pointer-events: none;
    // background: var(--color-grey-30);
    opacity: 0.5;
  }
}


input {
    padding: 0 var(--comp-padding);
  }
textarea {
  min-height: calc(var(--comp-height) * 2);
  padding: var(--comp-padding);
  resize: none;
}


.input {
  position: relative;

  input, textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .icon {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    pointer-events: none;

    &~input {
      padding-left: 4rem;
    }
  }

  .icon:nth-of-type(2) {
    left: auto;
    top: 1.2rem;
    right: 1.2rem;

    &~input {
      padding-right: 4rem;
    }
  }

  &.icon-right {
    .icon {
      left: auto;
      right: 1rem;

      &+input {
        padding-left: 1.5rem;
        padding-right: 2rem;
      }
    }
  }

  &.suffix span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: var(--color-grey-60);
    pointer-events: none;
  }
}

.input.error input,
input.error,
.input.error textarea,
textarea.error {
  border-color: var(--color-error);

  &:focus {
    box-shadow: var(--glow-error);
  }
}
